* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 3%;
  margin-left: 2%;
  font-size: 50px;
  font-weight: bold;
}
.todo {
  margin-top: 2%;
  margin-left: 2%;
}
#input {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 20px;
}
#date {
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 1%;
}
button {
  padding: 15px 60px;
  background-color: green;
  font-size: 20px;
  margin-left: 1%;
  cursor: pointer;
}
