* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 3%;
  margin-left: 2%;
  font-size: 50px;
  font-weight: bold;
}

.todo {
  margin-top: 2%;
  margin-left: 2%;
}

#input {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 20px;
}

#date {
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 1%;
}

#btn {
  padding: 15px 60px;
  background-color: green;
  color: white;
  font-size: 20px;
  margin-left: 5%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.todoChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 1%;
}

.todoChild h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.todoChild p {
  font-size: 18px;
  margin-bottom: 0;
}

.todoChild button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todoChild button:hover {
  background-color: darkred;
}
